#short_description{
  width: 90%;
  margin: 2% 5%;
  border: 2px solid #CB2D6F;
  border-radius: 20px;
  padding: 2px 20px;
  background: #d6b7c1;
  height: 60px;
  overflow: hidden;
}

#short_description p {
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  overflow: hidden; /* Обрезать текст, который не помещается */
  text-overflow: ellipsis; /* Добавить многоточие (...) к обрезанному тексту */
}

/*=================== СКРОЛЛИНГ ==================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#top{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
}
#top::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    height:200px;
    width: 100%;
    background:linear-gradient(to top,#d6b7c1,transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text{
    position: relative;
    color: #d6b7c1;
    font-size: 10rem;
}




