{% extends 'MyApp/base.html' %}

{% block content %}
{% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'MyApp/css/about_company.css' %}">
<main>
<h1 align="center">{{title}}</h1>
    <section>
        <h2>Нащ логотип: </h2>
        <a href="{% static 'MyApp/images/favicon.ico'%}" download>
            <img src="{% static 'MyApp/images/favicon.ico'%}" alt="Логотип компании" title="Logo"
                 width="150" height="150" id="company-logo">
        </a>
        <p id="quote-day"><b>Цитата дня: </b>
            <q cite="Euhene Kuznetsov" lang="ru">Ваш автомобиль заслуживает лучшего места.<cite> Eugene Kuznetsov</cite></q></p>
    </section>
    <hr>
    <section>
        <h2 align="center">История создания</h2>
        <ul id="history-list">
            <li> <p>Год 1995: Компания <i>"AutoCar"</i> была основана в 1995 году Ивановым Владимиром. Он стал основателем и первым
            председателем компании. Идея создания <i>"AutoCar"</i> пришла Владимиру, когда он столкнулся с проблемой
            поиска парковочного места в самых оживленных частях города.</p></li>
            <li>
                <p>
                В течение первых нескольких лет компания <i>"AutoCar"</i> была маленьким местным бизнесом, предоставляющим
            услуги по предоставлению безопасных и удобных мест для парковки автомобилей. Владимир использовал свои
            личные сбережения и заемные средства для покупки земельных участков и создания парковки.
                </p>
            </li>

            <li><p>
                Компания разработала уникальную систему управления и контроля доступа автомобилей на парковке.
            Она позволяет автовладельцам забронировать парковочное место заранее и эффективно отслеживать въезд и
            выезд автомобилей с помощью электронных брелоков.
            </p>
            </li>
        </ul>
    </section>
    <hr>
    <section>
        <h2 align="center">Сокращения</h2>
        <ol id="abbr-list">
            <li><abbr title="Автостоянка">АС</abbr> - Автостоянка</li>
            <li><abbr title="Парковочное место">ПМ</abbr> - Парковочное место</li>
            <li><abbr title="Бронирование места">БМ</abbr> - Бронирование места</li>
            <li><abbr title="Аренда места">АМ</abbr> - Аренда места</li>
        </ol>
    </section>
    <hr>
    <section>
        <h2 align="center">Определения</h2>
        <ol>
            <li><dfn title="Автостоянка">Автостоянка</dfn> - специализированное место для временной стоянки
                автомобилей.</li>
            <li><dfn title="Парковочное место">Парковочное место</dfn> - определенное пространство, предназначенное
                для парковки автомобиля.</li>
            <li><dfn title="Бронирование места">Бронирование места</dfn> - процесс предварительного заказа и
                резервирования парковочного места.</li>
            <li><dfn title="Аренда места">Аренда места</dfn> - услуга предоставления парковочного
                места на определенный период времени. </li>
        </ol>
    </section>
    <hr>
     <form>
    <input type="text" placeholder="Доступное поле" />
    <input type="text" placeholder="Обязательное поле" required />

    <input type="text" placeholder="Заблокированное поле" disabled />

    <input type="number" placeholder="Значение вне диапазона" min="1" max="10" value="11" />

    <input type="checkbox" id="checkbox1" checked />
    <label for="checkbox1">Флажок 1</label>

    <input type="radio" id="radio1" name="radio-group" checked />
    <label for="radio1">Переключатель 1</label>

    <input type="radio" id="radio2" name="radio-group" />
    <label for="radio2">Переключатель 2</label>
  </form>
    <hr>
    <section>
        <h2 align="center"> Четверостишие</h2>
        <p align="center">
            На "Автостоянке" <wbr>где-то вдали,<br>
            Светит солнце, и <wbr>мир вокруг ярче. <br>
            Автомобили стоят<wbr> в строю,<br>
            Здесь каждый находит<wbr> свое место<br>
        </p>
    </section>
    <hr>
    <section>
        <h2 align="center">Листинг кода</h2>
        <pre >
            <code>
                def print_hello():
                    <var>name</var> = 'Alex'
                    print("Hello ${name}")
            </code>
        </pre>
    </section>
    <hr>
    <section id="certificate">

        <br><br>
        <figure >
            <p class="name_sert">ЕДИНЫЙ РЕЕСтр АВТОСТОЯНОК</p>
            <p id="name-info">СВИДЕТЕЛЬСТВО</p>
            <p class="name_sert">О ВНЕСЕНИИ СВЕДЕНИЙ</p>
            <p align="right"><data value="2005-12-7">7 декабря 2005</data></p>
            <p id="society">Общество с ограниченной отвественностью <i>"AutoCar"</i></p>
            <p id="re-num">Реестровый номер: 8241</p>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <p align="left">Директор: Сидаренко А.А.</p>
            <hr color="blue" width="85%" align="center">
            <p align="right">Телефон: <em>+375445624359</em></p>
            <p align="right">Почта: <em>jenakuuuuuz@gmail.com</em></p>
        </figure>
    </section>
    <hr>
    <section>
        <h2 align="center">Как правильно выбрать паркинг в ЖК</h2>
        <p align="center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8kH_GaICSOo?si=9vV0N7A42JEkTgcm"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                     encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </section>
    <hr>
    <section id="music">
        <h2 align="center">Музыка</h2>
        <p align="center"><b>Trevor Daniel – Falling</b></p>
        <p align="center">
            <audio controls  src="{% static 'MyApp/audio/song1.ogg'%}" >
                Музыка не доступна
            </audio>
        </p>
    </section>
    <section>
        <p id="requisites">
            <b>Реквизиты для поддержки:</b><br>
            5578 4586 7077 0064
        </p>
    </section>
</main>
{% endblock %}