{% extends 'MyApp/base.html' %}

{% block content %}
<h1><ul>Автостоянка AutoCar</ul></h1>
<h3>Услуги, которые мы предоставляем клиентам:</h3>
<p>-Круглосуточное отопление стоянки (что сохраняет время автовладельцев на прогрев автомобиля)</p>
<p>-Автоматизированная система наблюдения (т.е. гарантии безопасности автомобиля)</p>
<p>-Контроль всех выходов из комплекса автостоянки</p>
<p>-Предоставление закрытого парковочного места (что дает возможность избежать загрязнения от погодных условий)</p>
{% endblock %}