{% extends 'MyApp/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyApp/css/news.css' %}">
<main id="main-news">
<!--<h1 align="center" id="top_header">{{title}}</h1>-->
    {% if news.count %}
        <section id="top">
            <img src="{% static 'MyApp/images/auto_park.jpg' %} " id="bg" />
            <h2 id="text">Новости</h2>
            <img src="{% static 'MyApp/images/news1.png' %}" id="news_left" />
            <img src="{% static 'MyApp/images/news2.png' %}" id="news_right" />
        </section>

        {% for n in news %}
        <article itemscope itemtype="https://schema.org/Article">
        <h3 align="center" itemprop="headline">{{n}}</h3>
        <img src="{{n.photo.url}}" alt = "gsi" width="300" height="200" itemprop="image">
        <time datetime="{{n.time_create}}" itemprop="dateCreated">{{n.time_create}}</time>
        <div id="short_description">
            <p itemprop="description">{{n.short_description}}</p>
        </div>
        <a href="{{ n.get_absolute_url }}">
            <button>Читать далее</button>
        </a>
        </article>
        {% endfor %}
    <p align="center"><a href="#top_header">Начало страницы</a></p>
    {% else %}
      <p>Нету новостей</p>
    {% endif %}
</main>
{% endblock %}